version: "3"

services:
  apache:
    build: ./docker/apache
    container_name: money_web
    volumes:
      - ./:/var/www/html
      - ./logs/apache2:/var/log/apache2
  nginx:
    build: ./docker/nginx
    ports:
      - ${APP_PORT:-80}:80
    volumes:
      - ./:/var/www/html
      - ./logs/nginx:/var/log/nginx
    depends_on:
      - apache
  mysql:
    image: mysql/mysql-server:8.0
    container_name: money_mysql
    ports:
      - ${FORWARD_DB_PORT:-3306}:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
    driver: local